@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.card {
    margin-left: 10%;
    margin-right: 10%;
}

.height {
    margin-bottom: 40%;
}

.button-panel{
    margin-top: 10px;
    justify-content: center;
    display: flex;
}

.row {
    margin-bottom: 10px;
    
}

.nav-link {
    color: #838383 !important;
    border: none !important;
}
.nav-link.active{
    color: #000000 !important;
    border-bottom: 1px solid #7e7e7e !important;
}

.center-tabs{
    justify-content: center;
    display: flex;
}

body {
    font-family: Inter, sans-serif !important;
}