/*Importing fonts*/
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

/*Styling for GamePage*/
.game-page {
  display: flex; 
  flex-direction: column;
  position: relative;
  color: white; 
}

.bottom {
  margin: 30px 50px 80px 50px;
}

#text {
  padding: 30px; 
  border-radius: 40px;
  background-color: #750303;
}

.game-name {
  margin-top: 30px; 
  margin-bottom: 30px;
  font-size: 25px;
  font-family: 'Rock Salt', cursive;
  animation: glitch 1s linear infinite;
}

/* Animation for game-name */
@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

.game-name:before,
.game-name:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

.game-name:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

.game-name:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}

/*Media Queries */
@media screen and (max-width: 800px) {
  .game-name {
    font-size: 15px;
  }
}


/*Styling for Player*/
.player {
  background-color: black;
  color: white;
}

.player-text {
  text-align: center;
  padding-top: 80px;
  margin-bottom: 80px;
}

#text-bite-code {
  margin-left: 50px;
  font-size: 20px;
}


/*Styling for Bite Code*/
.bite-code {
  margin: 30px; 
}

.bite-code-form {
  width: 40%;
  margin-left: 20px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
}

.form-control {
  margin-bottom: 10px;
}

.bite-code-form > input::placeholder {
  color: grey; 
}

#header-bite-code {
  margin-left: 20px;
}

/*Styling for Map*/
.map-wrapper {
  width: 100%;
  height: 100%;
}

.map {
  width: 100%;
  height: 66.5vh;
  position: relative;
}


/*Styling for Chat*/
.big-container {
  width: 300px;
  margin-top: 30px;
  max-height: 800px;
  z-index: 2;
  overflow: hidden;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  background: #EE9617;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 15px;
  float: right;
  margin-right: 20px;
}

.msger-header {
  flex: 0 1 45px;
  position: relative;
  z-index: 2;
  background: rgba(255, 255, 255, 0.2);
  width: 400px;
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  padding:20px;
}

.chatContainer {
  width: 300px;
  height: 400px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  background: #ffffff;
  border-radius: 2px;
  color: #EB4511;
  flex: 1 1 auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 10px;
}

.input {
  display: flex;
  padding: 10px;
  width: 255px;
  background: none;
  border-radius: 2px;
  justify-content: center;
  font-size: 12px;
  padding-right: 20px;
  border: none;
}

.inputField::placeholder {
  opacity: 0.5;
}

.sendBtn {
  float: right;
  outline: 0 none;
  border: none;
  background: rgba(223, 109, 109, 0.25);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding: 2px 0 0 0;
  margin: 10px;
  transition: all 0.15s ease-in-out;
  color: white;
}

#bg {
  z-index: -100;
  position: absolute;
  width: 100%;
}

.chatBox {
  font-size: 20px;
  text-align: center;
  border: 1px solid rgb(255, 137, 2);
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
  float: right;
  margin-right: 20px;
}

.Collapsible{
  float: right;
}

.Collapsible__trigger.is-open svg {
  transform: rotate(180deg);
  margin: 10px;
}