.color-nav {
    color: #838383 !important;
}

.color-nav:hover {
    color: #000000 !important;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #000000;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: middle;
    transition: transform 0.15s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(0.9);
    transform-origin: middle;
  }